include *.py *.txt *.rst *.html
recursive-include NearBeachAPI *
recursive-include NearBeachAPI/templates *
recursive-include NearBeachAPI/templates/NearBeachAPI *
global-exclude *.pyc __pycache__


# added by check_manifest.py
include LICENSE
