{% extends './template.html' %}
{% block content %}
    {% load static %}
    <h2> NearBeach API List</h2>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_uuid_modal">
        New API UUID Key
    </button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">UUID</th>
                <th scope="col">Allowed Host</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for row in api_uuid_results %}
                <tr>
                    <td width="40%">
                        <a href="javascript:void(0)">{{ row.api_uuid_id }}</a>
                    </td>
                    <td width="50%">
                        {% for link in row.api_allowed_host_set.all %}
                            {% if forloop.first %}
                                {{ link.allowed_host }}
                            {% else %}
                                , {{ link.allowed_host }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td width="10%"><a href="javascript:void(0)"><img src="{% static 'NearBeach/images/icons/trash-2.svg' %}"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="new_uuid_modal" tabindex="-1" role="dialog" aria-labelledby="new_uuid_modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New UUID</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="new_uuid_form" enctype="text/plain">
                        <p>Please enter in the name of the UUID</p>
                        <p>{{ new_uuid_form.api_description }}</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}